<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Update Payment</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item">
              <a href="/dashboard/banks">Banks</a>
            </li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <%- include('../../layout/validation-message.ejs') %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Create Payment</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="/dashboard/payments/<%= payment._id %>?_method=PUT" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="transaction type"
                  name="type"
                  value="<%= payment.type %>"
                />
              </div>

              <div class="form-group">
                <label>Choose Banks</label>
                <select
                  name="banks"
                  class="form-control select2"
                  style="width: 100%"
                  data-placeholder="Pilih Banks"
                  multiple="multiple"
                >
                  <% banks.forEach(bank => { %>
                  <option
                    <% payment.banks.forEach(pbanks => { %>
                      <%= pbanks._id.toString() === bank._id.toString() ? "selected" : "" %>
                    <% }) %>
                    value="<%= bank._id %>">
                    <%= bank.name %>-<%= bank.nameBank %>-<%=
                    bank.accountNumber %>
                  </option>
                  <% }) %>
                </select>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- contentFor('head') %>
<!-- Select2 -->
<link rel="stylesheet" href="/adminlte/plugins/select2/css/select2.min.css" />
<link
  rel="stylesheet"
  href="/adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
/>
<!-- Bootstrap4 Duallistbox -->
<link
  rel="stylesheet"
  href="/adminlte/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css"
/>
<link rel="stylesheet" href="/public/stylesheets/styles.css" />

<%- contentFor('script') %>
<script src="/adminlte/plugins/select2/js/select2.full.min.js"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $(".select2").select2();
  });
</script>
