<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layout/head.ejs') %>
  <%- defineContent('head') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <%- include('./layout/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('./layout/aside.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <%- body %>
    <!-- /.content-wrapper -->
    <%- include('./layout/footer.ejs') %>
  </div>

<%- include('./layout/script.ejs') %>
<%- defineContent('script') %>
</body>
</html>
